<script type="text/html" id="data-socket">
  <section class="panel">
    <header class="panel-heading">
      <div id="{{upload}}" >
        <i class="icon-upload ">&nbsp;Process</i>
      </div>
    </header>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th  class="td-btn">Load</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Run All</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='1'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Run Solver</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='2'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Generate routes</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='3'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Generate port, stock, vessel, leg capacities and port restrictions</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='4'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Process demand</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='5'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Populate Empty</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='6'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Solve Model</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='7'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Export Result</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='8'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Export MTY Result</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='9'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Backup WEB</td>
        <td>
          <button class="btn btn-primary btn-xs btn-process" data-object='10'>
            <i class="icon-cogs"></i>
          </button>
        </td>
      </tr>
      <tr>
      </tbody>
    </table>
  </section>
</script>