<tbody id="results">    <tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-0-26 00:00:00:MXVER:MXATM:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">MXVER</td>
  <td width="0px">MXATM</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-0-26000000MXVERMXATMCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-0-27 00:00:00:MXATM:USHOU:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">MXATM</td>
  <td width="0px">USHOU</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-0-27000000MXATMUSHOUCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-0-30 00:00:00:USHOU:COCTG:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">USHOU</td>
  <td width="0px">COCTG</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-0-30000000USHOUCOCTGCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-11-09 00:00:00:COCTG:BRSUA:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">COCTG</td>
  <td width="0px">BRSUA</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-11-09000000COCTGBRSUACAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-11-19 00:00:00:BRSUA:BRSSZ:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">BRSUA</td>
  <td width="0px">BRSSZ</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-11-19000000BRSUABRSSZCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-11-21 00:00:00:BRSSZ:BRIOA:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">BRSSZ</td>
  <td width="0px">BRIOA</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-11-2000000BRSSZBRIOACAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-11-23 00:00:00:BRIOA:BRPNG:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">BRIOA</td>
  <td width="0px">BRPNG</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-11-23000000BRIOABRPNGCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-11-20 00:00:00:BRPNG:BRSSZ:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">BRPNG</td>
  <td width="0px">BRSSZ</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-11-20000000BRPNGBRSSZCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-11-27 00:00:00:BRSSZ:BRRIO:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">BRSSZ</td>
  <td width="0px">BRRIO</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-11-27000000BRSSZBRRIOCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-11-29 00:00:00:BRRIO:BRSSA:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">BRRIO</td>
  <td width="0px">BRSSA</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-11-29000000BRRIOBRSSACAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-12-01 00:00:00:BRSSA:COCTG:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">BRSSA</td>
  <td width="0px">COCTG</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-12-0000000BRSSACOCTGCAPGREGORYEFX0" style="display:none"></td>
</tr>
<tr>
  <td width="0px" class="text-center"><div class="more-results manito" data-object="2013-12-03 00:00:00:COCTG:MXVER:SHIP:EFX:0">+</div></td>
  <td width="0px">SHIP</td>
  <td width="0px" class="text-center">0</td>
  <td width="0px">COCTG</td>
  <td width="0px">MXVER</td>
  <td width="0px" class="text-center">0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0<strong>/</strong></td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
  <td width="10px" class="text-center ">0<strong>/</strong>0</td>
</tr>
<tr style="background-color:grey">
  <td colspan="0" id="2013-12-03000000COCTGMXVERCAPGREGORYEFX0" style="display:none"></td>
</tr>
</tbody>