<script type="text/html" id="data-grid-results-details-dda" xmlns="http://www.w3.org/1999/html">
  <table cellpadding="0" cellspacing="0" border="0"
         width="100%" class="table table-striped table-bordered dataTable">
    <thead>
    <tr>
      <th>Leg Cost</th>
      <th>Opp Value</th>
    </tr>
    </thead>
    <tbody>
    {{#list}}
    <tr>
      <td width="15px" class="text-center">{{cost_per_teu_leg}}</td>
      <td width="15px" class="text-center">{{opp_value_per_teu}}</td>
    </tr>
    {{/list}}
    </tbody>
  </table>
</script>