<div id="lwindow">
  <div id="ltoolbar">
    <div class="ltop">
      <div id="llights">
        <div class="llight lred">
          <div class="lglyph">×</div>
          <div class="lshine"></div>
          <div class="lglow"></div>
        </div>
        <div class="llight lyellow">
          <div class="lglyph">-</div>
          <div class="lshine"></div>
          <div class="lglow"></div>
        </div>
        <div class="llight lgreen">
          <div class="lglyph">+</div>
          <div class="lshine"></div>
          <div class="lglow"></div>
        </div>
      </div>
      <div id="title">
        <div class="lfolder">
          <div class="ltab"></div>
          <div class="lbody"></div>
        </div>
        Karguroo - Loader
      </div>
      <div id="lbubble">
        <div class="lshine"></div>
        <div class="vglow"></div>
      </div>
    </div>
  </div>
  <div id="lbody">
    <p><div id="console-body"></div></p>
    <div class="lcursor"></div>
  </div>
</div>