<section class="panel panel-success">
  <div class="panel-heading">
    <ul class="title">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">Process</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">&nbsp;</div>
      </div>
    </ul>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row line">
          <div class="col-lg-7 col-md-9 col-sm-9 col-xs-9">Run all</div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <button class="btn btn-primary btn-xs btn-process" data-object='1000'>
              <i class="icon-play"></i>
            </button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <button id='btn-stop' class="btn btn-danger btn-xs" data-object='1000'>
              <i class="icon-stop"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>