<section class="panel panel-warning">
  <div class="panel-heading">
    <ul class="title">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">No routes</div>
      </div>
    </ul>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row line">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Run all</div>
        </div>
      </li>
    </ul>
  </div>
</section>